/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

/* Margin & border */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    color: #010101;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
}

/* Header */
header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    top: 0;  /* Ensure it stays at the top */
  
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 80px; /* This margin pushes content below the sticky header */
    display: flex;
    flex-direction: column;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logotype {
    display: flex;
    align-items: center; /* Center the logo vertically */
}

/* Image inside logotype */
.logotype img {
    margin-left: 10vw;
    max-width: 175px;  /* Set a maximum width for the logo */
    height: auto;      /* Maintain aspect ratio */
    margin-right: 10vw;
}

/* Navbar styles */

.navbar{
    width: 100%;
}
.navbar-nav .nav-item .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 10 px;
    text-decoration: none;
    color: inherit;
}

.navbar-nav .nav-item .nav-link.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero section */
.hero {
    height: 700px;
    width: 100%; /* Make the hero image span the entire width */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;/* Ensure the background image covers the entire section */
    position: relative;
    margin-bottom: 5vh;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-top: 2vh;
    margin-bottom: 4vh;
    margin-left: 10vw;
    color: #9e7e3b !important; /* Force this color to apply */
}
h1{
    margin-left: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin-top: 2vh;
    padding-top: 5vh;
    margin-bottom: 4vh;
    margin-left: 10vw;
    color: #9e7e3b !important; /* Force this color to apply */
}

/* Cart button */
form.d-flex {
    margin-right: 2vh;
    color: #9e7e3b !important;
}
 /* Table Exhibition.html */
.table img {
    max-width: 200px;
    height: auto;
    transition: opacity .3s ease 0s, transform .3s ease 0s;
    transform: scale(1) rotate(0.001deg);
  }
  
  table img:hover {
    z-index: 10;
    transform: scale(1.6) rotate(0.001deg);
  }
  .table tr {
    border-bottom: 2px solid #9e7e3b;
  }

  .table a {
    color: #000000; /* Set the desired color */
    text-decoration: none;
}

.table a:hover {
    color: #d3a65a; /* Optional hover effect */
    text-decoration: underline;
}


footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 12 px;
    position: fixed;
    bottom: 0;
    width: 100%;   
    height: 10vh;
    background-color: #3a3a3a
              }   
.social-networks{
    text-align: center;
        }

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fdfafa;
    padding-top: 4vh;
}